@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Lato', sans-serif;
}


nav 

{

    position: fixed;
    height: 60px;
    width: 100%;
    background: rgba(255,0,0,1);
    margin-top: -131.3rem;
    backdrop-filter: blur(10px);
}

  
label img 
{
    position: absolute;
    width: 65px;
    margin-top: 1.3rem;
    left: 3%;
}





nav ul
{
    float: right;
    margin-right: 40px;
}


nav li 
{
    display: inline-block;
    margin: 0 8px;
    line-height: 85px;
}


nav a 
{
    color: #000;
    font-size: 10px;
}


nav #icon .container {
  display: none ;
  float: right;
  padding: 3px;        
}

.bar1, .bar3 {
  width: 26px;
  height: 4px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
  border-radius: 15px;
}


.bar2 {
  width: 26px;
  height: 4px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
  border-radius: 15px;
}


.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -9px);
  transform: rotate(45deg) translate(-5px, -9px);
}




@media only screen and (max-width: 500px) {
    nav ul 
    {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(255,0,0,1);
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    
    nav li 
    {
        display: block;
    }
    
    nav li a 
    {
        font-size: 25px;
        transition: 0.3s;
        padding: 3px;
        color: #fff;
    }
    
    
    nav li a:hover
    {
        color: rgba(255,255,255,0.2);
        transition: 0.3s;
    }

    nav #icon .container {
        display: inline-block;
        float: right;
        padding: 3px;        
        margin-top: 0.78rem; 
      }
    
    nav #icon
    {
        width: 1px;
         margin-left: 360px;
    }
    
    nav ul.show
    {
        left: 0;
    }
    




.ielts 
{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}




.ielts .logo
{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}


.ielts .logo img 
{
    position: absolute;
    width: 150px;
}



.ielts .bg
{
    display: flex;
    justify-content: center;
    margin-top: 8.5rem;
}



.ielts .bg img 
{
    position: absolute;
    width: 50px;
}



.ielts h1
{
    position: absolute;
    font-size: 1.3em;
    margin-top: 12rem;
}






.ielts p
{
    position: absolute;
    font-size: 0.8em;
    margin-top: 14rem;
    padding: 20px;
    line-height: 20px;
    color: #555;
}




.ielts .butt1 a 
{
    position: absolute;
    padding: 13px 40px;
    background: #fff;
    border-radius: 10px;
    border: 1.5px solid rgba(255,0,0,0.8);
    color: rgba(255,0,0,0.8);
    font-size: 1em;
    margin-top: 32rem;
    left: -10px;
    transition: 0.2s;
}



.ielts .butt1 a:hover 
{
    background: rgba(255,0,0,0.8);
    color: #fff;
    transition: 0.2s;
}





.ielts .butt2 a 
{
    position: absolute;
    padding: 13px 35px;
    background: #fff;
    border-radius: 10px;
    border: 1.5px solid rgba(255,0,0,0.8);
    color: rgba(255,0,0,0.8);
    font-size: 1em;
    margin-top: 32rem;
    left: 58%;
    transition: 0.2s;
}



.ielts .butt2 a:hover 
{
    background: rgba(255,0,0,0.8);
    color: #fff;
    transition: 0.2s;
}



.ielts .lesson
{
    display: flex;
    justify-content: center;
    margin-top: 36rem;
}



.ielts .lesson img 
{
    position: absolute;
    width: 155px;
}




/*******Exame********/


.exame
{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
}



.exame h1
{
    position: absolute;
    font-size: 1.5em;
    color: rgba(255,0,0,0.8);
    margin-top: 23rem;
}



.exame .exam1 
{
    display: flex;
    justify-content: center;
    margin-top: 26.5rem;
}



.exame .exam1 img 
{
    position: absolute;
    width: 340px;
}



.exame p
{
    position: absolute;
    font-size: 0.8em;
    margin-top: 38.5rem;
    padding: 25px;
    line-height: 20px;
    color: #555;
}



.exame .dates 
{
    display: flex;
    justify-content: center;
    margin-top: 46rem;
}




.exame .dates a 
{
    position: absolute;
    padding: 13px 35px;
    background: #fff;
    border-radius: 10px;
    border: 1.5px solid rgba(255,0,0,0.8);
    color: rgba(255,0,0,0.8);
    font-size: 1em;
    transition: 0.2s;
}



.exame .dates a:hover 
{
    background: rgba(255,0,0,0.8);
    color: #fff;
    transition: 0.2s;
}




.exame h4 
{
    position: absolute;
    font-size: 1.2em;
    color: #666;
    margin-top: 53rem;
}




/*******Teste********/


.teste 
{
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0.08);
}



.teste h1
{
    position: absolute;
    font-size: 1.3em;
    color: #444;
    padding: 25px;
    margin-top: 2rem;
}



.teste img 
{
    position: absolute;
    width: 250px;
    margin-top: 11rem;
}




.teste a 
{
    position: absolute;
    padding: 13px 40px;
    background: rgba(0,0,0,0.0);
    border-radius: 10px;
    border: 1.5px solid #555;
    color: #555;
    font-size: 1em;
    margin-top: 25rem;
    transition: 0.2s;
}



.teste a:hover 
{
    background: #555;
    color: #fff;
    transition: 0.2s;
}




.teste h3
{
    position: absolute;
    font-size: 6em;
    color: #555;
    margin-top: 28rem;
}










footer
{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    background: rgba(255,0,0,0.8);
}



footer ul 
{
    position: absolute;
    margin-top: 1rem;
    left: 3%;
}


footer ul li a 
{
    font-size: 0.9em;
    color: #fff;
    transition: 0.2s;
}


footer ul li a:hover 
{
    color: rgba(255,255,255,0.2);
    transition: 0.2s;
}





footer img 
{
    position: absolute;
    width: 95px;
    margin-top: 1.8rem;
    left: 50%;
}



footer h5
{
    position: absolute;
    font-size: 0.6em;
    color: #fff;
    margin-top: 8rem;
}






/*******Search********/


.search 
{
    width: 100%;
    height: 750px;
    background: rgba(255,0,0,0.8);
}



.search .heade
{
    display: flex;
    justify-content: center;
}



.search .heade h1
{
    position: absolute;
    font-size: 1.4em;
    color: #fff;
    margin-top: 1rem;
}





.search .wrapper {
    width: 92vmin;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 50px;
    left: 50%;
    margin-top: 2rem;
}
.search .container {
    width: 100%;
    background-color: #ffffff;
    padding: 40px 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}
.search a {
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    color: #1f194c;
    font-weight: 600;
    -webkit-box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
    margin-top: 30px;
}
.search .search-box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.search .search-box input {
    padding: 5px;
    width: 70%;
    font-size: 1em;
    border: none;
    outline: none;
    border-bottom: 3px solid rgba(255,0,0,0.8);
}
.search .search-box button {
    padding: 15px 0;
    width: 25%;
    background-color: rgba(255,0,0,0.8);
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
}
.search .result {
    position: relative;
}
.search .result h3 {
    font-size: 30px;
    color: #1f194c;
}
.search .result .word {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 80px;
}
.search .result button {
    background-color: transparent;
    color: #ae9cff;
    border: none;
    outline: none;
    font-size: 18px;
}
.search .result .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    color: #b3b6d4;
    margin: 5px 0 20px 0;
    font-size: 14px;
}
.search .word-meaning {
    color: #575a7b;
}
.search .word-example {
    color: #575a7b;
    font-style: italic;
    border-left: 5px solid #ae9cff;
    padding-left: 20px;
    margin-top: 30px;
    font-size: 16px;
}
.search .error {
    margin-top: 80px;
    text-align: center;
}



.search .foot
{
    display: flex;
    justify-content: center;
}



.search .foot h5
{
    position: absolute;
    font-size: 0.8em;
    color: #fff;
    margin-top: 45rem;
}




/********Synonyms*********/


.synonyms 
{
    width: 100%;
    height: 740px;
    display: flex;
    justify-content: center;
    background: #fff;
}



.synonyms h1 
{
    position: absolute;
    font-size: 1.7em;
    color: rgba(255,0,0,0.8);
    margin-top: 0.5rem;
    border-bottom: 1px solid rgba(255,0,0,0.8);
    padding: 4px;
}




.synonyms h2 
{
    position: absolute;
    font-size: 1.5em;
    color: #222;
    margin-top: 5rem;
    left: 5%;
}




.synonyms p 
{
    position: absolute;
    font-size: 0.9em;
    color: #666;
    left: 5%;
    margin-top: 8rem;
}


.synonyms p spanA 
{
    font-size: 1.3em;
    color: rgba(255,0,0,0.7);
}


.synonyms .next a 
{
    position: absolute;
    padding: 13px 45px;
    background: rgba(255,0,0,0.8);
    color: #fff;
    font-size: 1.1em;
    border-radius: 10px;
    margin-top: 39rem;
    margin-left: 40px;
}





.synonyms marquee
{
    position: absolute;
    background: rgba(255,0,0,0.8);
    margin-top: 45.5rem;
}


.synonyms marquee h4
{
    color: #fff;
}








/********Synonyms2*********/


.synonyms2
{
    width: 100%;
    height: 740px;
    display: flex;
    justify-content: center;
    background: #fff;
}



.synonyms2 h1 
{
    position: absolute;
    font-size: 1.7em;
    color: rgba(255,0,0,0.8);
    margin-top: 0.5rem;
    border-bottom: 1px solid rgba(255,0,0,0.8);
    padding: 4px;
}




.synonyms2 h2 
{
    position: absolute;
    font-size: 1.5em;
    color: #222;
    margin-top: 5rem;
    left: 5%;
}




.synonyms2 p 
{
    position: absolute;
    font-size: 0.9em;
    color: #666;
    left: 5%;
    margin-top: 8rem;
}


.synonyms2 p spanA 
{
    font-size: 1.3em;
    color: rgba(255,0,0,0.7);
}




.synonyms2 .back a 
{
    position: absolute;
    padding: 13px 45px;
    background: rgba(255,0,0,0.8);
    color: #fff;
    font-size: 1.1em;
    border-radius: 10px;
    margin-top: 39rem;
    margin-left: -170px;
}





.synonyms2 .next a 
{
    position: absolute;
    padding: 13px 45px;
    background: rgba(255,0,0,0.8);
    color: #fff;
    font-size: 1.1em;
    border-radius: 10px;
    margin-top: 39rem;
    margin-left: 40px;
}





.synonyms2 marquee
{
    position: absolute;
    background: rgba(255,0,0,0.8);
    margin-top: 45.5rem;
}


.synonyms2 marquee h4
{
    color: #fff;
}









/*********More*********/


.more 
{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    background: rgba(255,0,0,0.8);
}



.more h1
{
    position: absolute;
    font-size: 1.7em;
    color: #fff;
    margin-top: 0.5rem;
}



.more h3
{
    position: absolute;
    font-size: 0.8em;
    color: rgba(255,255,255,0.7);
    margin-top: 4rem;
    padding: 25px;
}




.more .ielts2
{
    display: flex;
    justify-content: center;
    margin-top: 15rem;
}



.more .ielts2 img 
{
    position: absolute;
    width: 120px;
}




.more .idp2
{
    display: flex;
    justify-content: center;
    margin-top: 21rem;
}



.more .idp2 img 
{
    position: absolute;
    width: 120px;
}




.more .british2
{
    display: flex;
    justify-content: center;
    margin-top: 27rem;
}



.more .british2 img 
{
    position: absolute;
    width: 120px;
}




.more .cambridge2
{
    display: flex;
    justify-content: center;
    margin-top: 33rem;
}



.more .cambridge2 img 
{
    position: absolute;
    width: 180px;
}





.more h5
{
    position: absolute;
    font-size: 0.8em;
    color: #fff;
    margin-top: 45rem;
}





/*********Exam**********/


.exam 
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}




.exam h1
{
    position: absolute;
    font-size: 1.8em;
    color: rgba(255,0,0,0.8);
    margin-top: 0.5rem;
}


.exam h2
{
    position: absolute;
    font-size: 1.5em;
    color: #000;
    margin-top: 3rem;
}



.exam .box1
{
    position: absolute;
    width: 290px;
    height: 400px;
    display: flex;
    justify-content: center;
    background: rgba(255,0,0,0.8);
    border-radius: 10px;
    margin-top: 8.5rem;
    box-shadow: 8px 8px 16px rgba(0,0,0,0.2);
}



.exam .box1 h1
{
    position: absolute;
    font-size: 1.5em;
    color: #fff;
    margin-top: 0.8rem;
    border-bottom: 1.5px solid #fff;
    padding: 4px;
}



.exam .box1 p
{
    position: absolute;
    font-size: 0.9em;
    color: rgba(255,255,255,0.7);
    margin-top: 4.3rem;
    left: 6%;
}



.exam .box1 p spanC 
{
    font-size: 1.2em;
    color: #fff;
}




.exam .box1 h3 
{
    position: absolute;
    font-size: 6em;
    color: rgba(255,255,255,0.8);
    margin-top: 17rem;
}




.exam h4
{
    position: absolute;
    font-size: 1.1em;
    color: #444;
    margin-top: 37rem;
    border-left: 2px solid #444;
    border-right: 2px solid #444;
    padding: 4px;
}



.exam img 
{
    position: absolute;
    width: 100px;
    margin-top: 39rem;
}




.exam h5
{
    position: absolute;
    font-size: 0.8em;
    color: #444;
    margin-top: 48.5rem;
}






/********Main********/


.main 
{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    background: #f00;
}



.main h1
{
    position: absolute;
    font-size: 1.3em;
    color: #fff;
    margin-top: 17rem;
}




.main p
{
    position: absolute;
    font-size: 1em;
    color: #fff;
    margin-top: 20rem;
    animation: changeMotion linear 2s infinite alternate;
}



@keyframes changeMotion
{
    0%
    {
        color: rgba(255,255,255,0.8);
    }
    50%
    {
        color: rgba(0,0,0,0.0);
    }
    100%
    {
        color: rgba(255,255,255,0.8);
    }
}




.main a 
{
    position: absolute;
    padding: 13px 45px;
    font-size: 1.1em;
    background: #fff;
    color: #f00;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 23rem;
}








}


























@media only screen and (max-width: 770px) {
    nav ul 
    {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(255,0,0,1);
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    
    nav li 
    {
        display: block;
    }
    
    nav li a 
    {
        font-size: 25px;
        transition: 0.3s;
        padding: 3px;
        color: #fff;
    }
    
    
    nav li a:hover
    {
        color: rgba(255,255,255,0.2);
        transition: 0.3s;
    }

    nav #icon .container {
        display: inline-block;
        float: right;
        padding: 3px;        
        margin-top: 0.78rem; 
      }
    
    nav #icon
    {
        width: 1px;
         margin-left: 360px;
    }
    
    nav ul.show
    {
        left: 0;
    }
    




.ielts 
{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}




.ielts .logo
{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}


.ielts .logo img 
{
    position: absolute;
    width: 150px;
}



.ielts .bg
{
    display: flex;
    justify-content: center;
    margin-top: 8.5rem;
}



.ielts .bg img 
{
    position: absolute;
    width: 50px;
}



.ielts h1
{
    position: absolute;
    font-size: 1.3em;
    margin-top: 12rem;
}






.ielts p
{
    position: absolute;
    font-size: 0.8em;
    margin-top: 14rem;
    padding: 20px;
    line-height: 20px;
    color: #555;
}




.ielts .butt1 a 
{
    position: absolute;
    padding: 13px 40px;
    background: #fff;
    border-radius: 10px;
    border: 1.5px solid rgba(255,0,0,0.8);
    color: rgba(255,0,0,0.8);
    font-size: 1em;
    margin-top: 32rem;
    left: -10px;
    transition: 0.2s;
}



.ielts .butt1 a:hover 
{
    background: rgba(255,0,0,0.8);
    color: #fff;
    transition: 0.2s;
}





.ielts .butt2 a 
{
    position: absolute;
    padding: 13px 35px;
    background: #fff;
    border-radius: 10px;
    border: 1.5px solid rgba(255,0,0,0.8);
    color: rgba(255,0,0,0.8);
    font-size: 1em;
    margin-top: 32rem;
    left: 58%;
    transition: 0.2s;
}



.ielts .butt2 a:hover 
{
    background: rgba(255,0,0,0.8);
    color: #fff;
    transition: 0.2s;
}



.ielts .lesson
{
    display: flex;
    justify-content: center;
    margin-top: 36rem;
}



.ielts .lesson img 
{
    position: absolute;
    width: 155px;
}




/*******Exame********/


.exame
{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
}



.exame h1
{
    position: absolute;
    font-size: 1.5em;
    color: rgba(255,0,0,0.8);
    margin-top: 23rem;
}



.exame .exam1 
{
    display: flex;
    justify-content: center;
    margin-top: 26.5rem;
}



.exame .exam1 img 
{
    position: absolute;
    width: 340px;
}



.exame p
{
    position: absolute;
    font-size: 0.8em;
    margin-top: 38.5rem;
    padding: 25px;
    line-height: 20px;
    color: #555;
}



.exame .dates 
{
    display: flex;
    justify-content: center;
    margin-top: 46rem;
}




.exame .dates a 
{
    position: absolute;
    padding: 13px 35px;
    background: #fff;
    border-radius: 10px;
    border: 1.5px solid rgba(255,0,0,0.8);
    color: rgba(255,0,0,0.8);
    font-size: 1em;
    transition: 0.2s;
}



.exame .dates a:hover 
{
    background: rgba(255,0,0,0.8);
    color: #fff;
    transition: 0.2s;
}




.exame h4 
{
    position: absolute;
    font-size: 1.2em;
    color: #666;
    margin-top: 53rem;
}




/*******Teste********/


.teste 
{
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0.08);
}



.teste h1
{
    position: absolute;
    font-size: 1.3em;
    color: #444;
    padding: 25px;
    margin-top: 2rem;
}



.teste img 
{
    position: absolute;
    width: 250px;
    margin-top: 11rem;
}




.teste a 
{
    position: absolute;
    padding: 13px 40px;
    background: rgba(0,0,0,0.0);
    border-radius: 10px;
    border: 1.5px solid #555;
    color: #555;
    font-size: 1em;
    margin-top: 25rem;
    transition: 0.2s;
}



.teste a:hover 
{
    background: #555;
    color: #fff;
    transition: 0.2s;
}




.teste h3
{
    position: absolute;
    font-size: 6em;
    color: #555;
    margin-top: 28rem;
}










footer
{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    background: rgba(255,0,0,0.8);
}



footer ul 
{
    position: absolute;
    margin-top: 1rem;
    left: 3%;
}


footer ul li a 
{
    font-size: 0.9em;
    color: #fff;
    transition: 0.2s;
}


footer ul li a:hover 
{
    color: rgba(255,255,255,0.2);
    transition: 0.2s;
}





footer img 
{
    position: absolute;
    width: 95px;
    margin-top: 1.8rem;
    left: 50%;
}



footer h5
{
    position: absolute;
    font-size: 0.6em;
    color: #fff;
    margin-top: 8rem;
}






/*******Search********/


.search 
{
    width: 100%;
    height: 750px;
    background: rgba(255,0,0,0.8);
}



.search .heade
{
    display: flex;
    justify-content: center;
}



.search .heade h1
{
    position: absolute;
    font-size: 1.4em;
    color: #fff;
    margin-top: 1rem;
}





.search .wrapper {
    width: 92vmin;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 50px;
    left: 50%;
    margin-top: 2rem;
}
.search .container {
    width: 100%;
    background-color: #ffffff;
    padding: 40px 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}
.search a {
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    color: #1f194c;
    font-weight: 600;
    -webkit-box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
    margin-top: 30px;
}
.search .search-box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.search .search-box input {
    padding: 5px;
    width: 70%;
    font-size: 1em;
    border: none;
    outline: none;
    border-bottom: 3px solid rgba(255,0,0,0.8);
}
.search .search-box button {
    padding: 15px 0;
    width: 25%;
    background-color: rgba(255,0,0,0.8);
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
}
.search .result {
    position: relative;
}
.search .result h3 {
    font-size: 30px;
    color: #1f194c;
}
.search .result .word {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 80px;
}
.search .result button {
    background-color: transparent;
    color: #ae9cff;
    border: none;
    outline: none;
    font-size: 18px;
}
.search .result .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    color: #b3b6d4;
    margin: 5px 0 20px 0;
    font-size: 14px;
}
.search .word-meaning {
    color: #575a7b;
}
.search .word-example {
    color: #575a7b;
    font-style: italic;
    border-left: 5px solid #ae9cff;
    padding-left: 20px;
    margin-top: 30px;
    font-size: 16px;
}
.search .error {
    margin-top: 80px;
    text-align: center;
}



.search .foot
{
    display: flex;
    justify-content: center;
}



.search .foot h5
{
    position: absolute;
    font-size: 0.8em;
    color: #fff;
    margin-top: 45rem;
}




/********Synonyms*********/


.synonyms 
{
    width: 100%;
    height: 740px;
    display: flex;
    justify-content: center;
    background: #fff;
}



.synonyms h1 
{
    position: absolute;
    font-size: 1.7em;
    color: rgba(255,0,0,0.8);
    margin-top: 0.5rem;
    border-bottom: 1px solid rgba(255,0,0,0.8);
    padding: 4px;
}




.synonyms h2 
{
    position: absolute;
    font-size: 1.5em;
    color: #222;
    margin-top: 5rem;
    left: 5%;
}




.synonyms p 
{
    position: absolute;
    font-size: 0.9em;
    color: #666;
    left: 5%;
    margin-top: 8rem;
}


.synonyms p spanA 
{
    font-size: 1.3em;
    color: rgba(255,0,0,0.7);
}


.synonyms .next a 
{
    position: absolute;
    padding: 13px 45px;
    background: rgba(255,0,0,0.8);
    color: #fff;
    font-size: 1.1em;
    border-radius: 10px;
    margin-top: 39rem;
    margin-left: 40px;
}





.synonyms marquee
{
    position: absolute;
    background: rgba(255,0,0,0.8);
    margin-top: 45.5rem;
}


.synonyms marquee h4
{
    color: #fff;
}








/********Synonyms2*********/


.synonyms2
{
    width: 100%;
    height: 740px;
    display: flex;
    justify-content: center;
    background: #fff;
}



.synonyms2 h1 
{
    position: absolute;
    font-size: 1.7em;
    color: rgba(255,0,0,0.8);
    margin-top: 0.5rem;
    border-bottom: 1px solid rgba(255,0,0,0.8);
    padding: 4px;
}




.synonyms2 h2 
{
    position: absolute;
    font-size: 1.5em;
    color: #222;
    margin-top: 5rem;
    left: 5%;
}




.synonyms2 p 
{
    position: absolute;
    font-size: 0.9em;
    color: #666;
    left: 5%;
    margin-top: 8rem;
}


.synonyms2 p spanA 
{
    font-size: 1.3em;
    color: rgba(255,0,0,0.7);
}




.synonyms2 .back a 
{
    position: absolute;
    padding: 13px 45px;
    background: rgba(255,0,0,0.8);
    color: #fff;
    font-size: 1.1em;
    border-radius: 10px;
    margin-top: 39rem;
    margin-left: -170px;
}





.synonyms2 .next a 
{
    position: absolute;
    padding: 13px 45px;
    background: rgba(255,0,0,0.8);
    color: #fff;
    font-size: 1.1em;
    border-radius: 10px;
    margin-top: 39rem;
    margin-left: 40px;
}





.synonyms2 marquee
{
    position: absolute;
    background: rgba(255,0,0,0.8);
    margin-top: 45.5rem;
}


.synonyms2 marquee h4
{
    color: #fff;
}









/*********More*********/


.more 
{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    background: rgba(255,0,0,0.8);
}



.more h1
{
    position: absolute;
    font-size: 1.7em;
    color: #fff;
    margin-top: 0.5rem;
}



.more h3
{
    position: absolute;
    font-size: 0.8em;
    color: rgba(255,255,255,0.7);
    margin-top: 4rem;
    padding: 25px;
}




.more .ielts2
{
    display: flex;
    justify-content: center;
    margin-top: 15rem;
}



.more .ielts2 img 
{
    position: absolute;
    width: 120px;
}




.more .idp2
{
    display: flex;
    justify-content: center;
    margin-top: 21rem;
}



.more .idp2 img 
{
    position: absolute;
    width: 120px;
}




.more .british2
{
    display: flex;
    justify-content: center;
    margin-top: 27rem;
}



.more .british2 img 
{
    position: absolute;
    width: 120px;
}




.more .cambridge2
{
    display: flex;
    justify-content: center;
    margin-top: 33rem;
}



.more .cambridge2 img 
{
    position: absolute;
    width: 180px;
}





.more h5
{
    position: absolute;
    font-size: 0.8em;
    color: #fff;
    margin-top: 45rem;
}





/*********Exam**********/


.exam 
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}




.exam h1
{
    position: absolute;
    font-size: 1.8em;
    color: rgba(255,0,0,0.8);
    margin-top: 0.5rem;
}


.exam h2
{
    position: absolute;
    font-size: 1.5em;
    color: #000;
    margin-top: 3rem;
}



.exam .box1
{
    position: absolute;
    width: 290px;
    height: 400px;
    display: flex;
    justify-content: center;
    background: rgba(255,0,0,0.8);
    border-radius: 10px;
    margin-top: 8.5rem;
    box-shadow: 8px 8px 16px rgba(0,0,0,0.2);
}



.exam .box1 h1
{
    position: absolute;
    font-size: 1.5em;
    color: #fff;
    margin-top: 0.8rem;
    border-bottom: 1.5px solid #fff;
    padding: 4px;
}



.exam .box1 p
{
    position: absolute;
    font-size: 0.9em;
    color: rgba(255,255,255,0.7);
    margin-top: 4.3rem;
    left: 6%;
}



.exam .box1 p spanC 
{
    font-size: 1.2em;
    color: #fff;
}




.exam .box1 h3 
{
    position: absolute;
    font-size: 6em;
    color: rgba(255,255,255,0.8);
    margin-top: 17rem;
}




.exam h4
{
    position: absolute;
    font-size: 1.1em;
    color: #444;
    margin-top: 37rem;
    border-left: 2px solid #444;
    border-right: 2px solid #444;
    padding: 4px;
}



.exam img 
{
    position: absolute;
    width: 100px;
    margin-top: 39rem;
}




.exam h5
{
    position: absolute;
    font-size: 0.8em;
    color: #444;
    margin-top: 48.5rem;
}






/********Main********/


.main 
{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    background: #f00;
}



.main h1
{
    position: absolute;
    font-size: 1.3em;
    color: #fff;
    margin-top: 17rem;
}




.main p
{
    position: absolute;
    font-size: 1em;
    color: #fff;
    margin-top: 20rem;
    animation: changeMotion linear 2s infinite alternate;
}



@keyframes changeMotion
{
    0%
    {
        color: rgba(255,255,255,0.8);
    }
    50%
    {
        color: rgba(0,0,0,0.0);
    }
    100%
    {
        color: rgba(255,255,255,0.8);
    }
}




.main a 
{
    position: absolute;
    padding: 13px 45px;
    font-size: 1.1em;
    background: #fff;
    color: #f00;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 23rem;
}








}

















@media only screen and (max-width: 2770px) {
    nav ul 
    {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(255,0,0,1);
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    
    nav li 
    {
        display: block;
    }
    
    nav li a 
    {
        font-size: 25px;
        transition: 0.3s;
        padding: 3px;
        color: #fff;
    }
    
    
    nav li a:hover
    {
        color: rgba(255,255,255,0.2);
        transition: 0.3s;
    }

    nav #icon .container {
        display: inline-block;
        float: right;
        padding: 3px;        
        margin-top: 0.78rem; 
      }
    
    nav #icon
    {
        width: 1px;
         margin-left: 360px;
    }
    
    nav ul.show
    {
        left: 0;
    }
    




.ielts 
{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}




.ielts .logo
{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}


.ielts .logo img 
{
    position: absolute;
    width: 150px;
}



.ielts .bg
{
    display: flex;
    justify-content: center;
    margin-top: 8.5rem;
}



.ielts .bg img 
{
    position: absolute;
    width: 50px;
}



.ielts h1
{
    position: absolute;
    font-size: 1.3em;
    margin-top: 12rem;
}






.ielts p
{
    position: absolute;
    font-size: 0.8em;
    margin-top: 14rem;
    padding: 20px;
    line-height: 20px;
    color: #555;
}




.ielts .butt1 a 
{
    position: absolute;
    padding: 13px 40px;
    background: #fff;
    border-radius: 10px;
    border: 1.5px solid rgba(255,0,0,0.8);
    color: rgba(255,0,0,0.8);
    font-size: 1em;
    margin-top: 32rem;
    left: 5%;
    transition: 0.2s;
}



.ielts .butt1 a:hover 
{
    background: rgba(255,0,0,0.8);
    color: #fff;
    transition: 0.2s;
}





.ielts .butt2 a 
{
    position: absolute;
    padding: 13px 35px;
    background: #fff;
    border-radius: 10px;
    border: 1.5px solid rgba(255,0,0,0.8);
    color: rgba(255,0,0,0.8);
    font-size: 1em;
    margin-top: 32rem;
    left: 58%;
    transition: 0.2s;
}



.ielts .butt2 a:hover 
{
    background: rgba(255,0,0,0.8);
    color: #fff;
    transition: 0.2s;
}



.ielts .lesson
{
    display: flex;
    justify-content: center;
    margin-top: 36rem;
}



.ielts .lesson img 
{
    position: absolute;
    width: 155px;
}




/*******Exame********/


.exame
{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
}



.exame h1
{
    position: absolute;
    font-size: 1.5em;
    color: rgba(255,0,0,0.8);
    margin-top: 23rem;
}



.exame .exam1 
{
    display: flex;
    justify-content: center;
    margin-top: 26.5rem;
}



.exame .exam1 img 
{
    position: absolute;
    width: 340px;
}



.exame p
{
    position: absolute;
    font-size: 0.8em;
    margin-top: 38.5rem;
    padding: 25px;
    line-height: 20px;
    color: #555;
}



.exame .dates 
{
    display: flex;
    justify-content: center;
    margin-top: 46rem;
}




.exame .dates a 
{
    position: absolute;
    padding: 13px 35px;
    background: #fff;
    border-radius: 10px;
    border: 1.5px solid rgba(255,0,0,0.8);
    color: rgba(255,0,0,0.8);
    font-size: 1em;
    transition: 0.2s;
}



.exame .dates a:hover 
{
    background: rgba(255,0,0,0.8);
    color: #fff;
    transition: 0.2s;
}




.exame h4 
{
    position: absolute;
    font-size: 1.2em;
    color: #666;
    margin-top: 53rem;
}




/*******Teste********/


.teste 
{
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0.08);
}



.teste h1
{
    position: absolute;
    font-size: 1.3em;
    color: #444;
    padding: 25px;
    margin-top: 2rem;
}



.teste img 
{
    position: absolute;
    width: 250px;
    margin-top: 11rem;
}




.teste a 
{
    position: absolute;
    padding: 13px 40px;
    background: rgba(0,0,0,0.0);
    border-radius: 10px;
    border: 1.5px solid #555;
    color: #555;
    font-size: 1em;
    margin-top: 25rem;
    transition: 0.2s;
}



.teste a:hover 
{
    background: #555;
    color: #fff;
    transition: 0.2s;
}




.teste h3
{
    position: absolute;
    font-size: 6em;
    color: #555;
    margin-top: 28rem;
}










footer
{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    background: rgba(255,0,0,0.8);
}



footer ul 
{
    position: absolute;
    margin-top: 1rem;
    left: 3%;
}


footer ul li a 
{
    font-size: 0.9em;
    color: #fff;
    transition: 0.2s;
}


footer ul li a:hover 
{
    color: rgba(255,255,255,0.2);
    transition: 0.2s;
}





footer img 
{
    position: absolute;
    width: 95px;
    margin-top: 1.8rem;
    left: 50%;
}



footer h5
{
    position: absolute;
    font-size: 0.6em;
    color: #fff;
    margin-top: 8rem;
}






/*******Search********/


.search 
{
    width: 100%;
    height: 750px;
    background: rgba(255,0,0,0.8);
}



.search .heade
{
    display: flex;
    justify-content: center;
}



.search .heade h1
{
    position: absolute;
    font-size: 1.4em;
    color: #fff;
    margin-top: 1rem;
}





.search .wrapper {
    width: 92vmin;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 50px;
    left: 50%;
    margin-top: 2rem;
}
.search .container {
    width: 100%;
    background-color: #ffffff;
    padding: 40px 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}
.search a {
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    color: #1f194c;
    font-weight: 600;
    -webkit-box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
    margin-top: 30px;
}
.search .search-box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.search .search-box input {
    padding: 5px;
    width: 70%;
    font-size: 1em;
    border: none;
    outline: none;
    border-bottom: 3px solid rgba(255,0,0,0.8);
}
.search .search-box button {
    padding: 15px 0;
    width: 25%;
    background-color: rgba(255,0,0,0.8);
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
}
.search .result {
    position: relative;
}
.search .result h3 {
    font-size: 30px;
    color: #1f194c;
}
.search .result .word {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 80px;
}
.search .result button {
    background-color: transparent;
    color: #ae9cff;
    border: none;
    outline: none;
    font-size: 18px;
}
.search .result .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    color: #b3b6d4;
    margin: 5px 0 20px 0;
    font-size: 14px;
}
.search .word-meaning {
    color: #575a7b;
}
.search .word-example {
    color: #575a7b;
    font-style: italic;
    border-left: 5px solid #ae9cff;
    padding-left: 20px;
    margin-top: 30px;
    font-size: 16px;
}
.search .error {
    margin-top: 80px;
    text-align: center;
}



.search .foot
{
    display: flex;
    justify-content: center;
}



.search .foot h5
{
    position: absolute;
    font-size: 0.8em;
    color: #fff;
    margin-top: 45rem;
}




/********Synonyms*********/


.synonyms 
{
    width: 100%;
    height: 740px;
    display: flex;
    justify-content: center;
    background: #fff;
}



.synonyms h1 
{
    position: absolute;
    font-size: 1.7em;
    color: rgba(255,0,0,0.8);
    margin-top: 0.5rem;
    border-bottom: 1px solid rgba(255,0,0,0.8);
    padding: 4px;
}




.synonyms h2 
{
    position: absolute;
    font-size: 1.5em;
    color: #222;
    margin-top: 5rem;
    left: 5%;
}




.synonyms p 
{
    position: absolute;
    font-size: 0.9em;
    color: #666;
    left: 5%;
    margin-top: 8rem;
}


.synonyms p spanA 
{
    font-size: 1.3em;
    color: rgba(255,0,0,0.7);
}


.synonyms .next a 
{
    position: absolute;
    padding: 13px 45px;
    background: rgba(255,0,0,0.8);
    color: #fff;
    font-size: 1.1em;
    border-radius: 10px;
    margin-top: 39rem;
    margin-left: 40px;
}





.synonyms marquee
{
    position: absolute;
    background: rgba(255,0,0,0.8);
    margin-top: 45.5rem;
}


.synonyms marquee h4
{
    color: #fff;
}








/********Synonyms2*********/


.synonyms2
{
    width: 100%;
    height: 740px;
    display: flex;
    justify-content: center;
    background: #fff;
}



.synonyms2 h1 
{
    position: absolute;
    font-size: 1.7em;
    color: rgba(255,0,0,0.8);
    margin-top: 0.5rem;
    border-bottom: 1px solid rgba(255,0,0,0.8);
    padding: 4px;
}




.synonyms2 h2 
{
    position: absolute;
    font-size: 1.5em;
    color: #222;
    margin-top: 5rem;
    left: 5%;
}




.synonyms2 p 
{
    position: absolute;
    font-size: 0.9em;
    color: #666;
    left: 5%;
    margin-top: 8rem;
}


.synonyms2 p spanA 
{
    font-size: 1.3em;
    color: rgba(255,0,0,0.7);
}




.synonyms2 .back a 
{
    position: absolute;
    padding: 13px 45px;
    background: rgba(255,0,0,0.8);
    color: #fff;
    font-size: 1.1em;
    border-radius: 10px;
    margin-top: 39rem;
    margin-left: -170px;
}





.synonyms2 .next a 
{
    position: absolute;
    padding: 13px 45px;
    background: rgba(255,0,0,0.8);
    color: #fff;
    font-size: 1.1em;
    border-radius: 10px;
    margin-top: 39rem;
    margin-left: 40px;
}





.synonyms2 marquee
{
    position: absolute;
    background: rgba(255,0,0,0.8);
    margin-top: 45.5rem;
}


.synonyms2 marquee h4
{
    color: #fff;
}









/*********More*********/


.more 
{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    background: rgba(255,0,0,0.8);
}



.more h1
{
    position: absolute;
    font-size: 1.7em;
    color: #fff;
    margin-top: 0.5rem;
}



.more h3
{
    position: absolute;
    font-size: 0.8em;
    color: rgba(255,255,255,0.7);
    margin-top: 4rem;
    padding: 25px;
}




.more .ielts2
{
    display: flex;
    justify-content: center;
    margin-top: 15rem;
}



.more .ielts2 img 
{
    position: absolute;
    width: 120px;
}




.more .idp2
{
    display: flex;
    justify-content: center;
    margin-top: 21rem;
}



.more .idp2 img 
{
    position: absolute;
    width: 120px;
}




.more .british2
{
    display: flex;
    justify-content: center;
    margin-top: 27rem;
}



.more .british2 img 
{
    position: absolute;
    width: 120px;
}




.more .cambridge2
{
    display: flex;
    justify-content: center;
    margin-top: 33rem;
}



.more .cambridge2 img 
{
    position: absolute;
    width: 180px;
}





.more h5
{
    position: absolute;
    font-size: 0.8em;
    color: #fff;
    margin-top: 45rem;
}





/*********Exam**********/


.exam 
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}




.exam h1
{
    position: absolute;
    font-size: 1.8em;
    color: rgba(255,0,0,0.8);
    margin-top: 0.5rem;
}


.exam h2
{
    position: absolute;
    font-size: 1.5em;
    color: #000;
    margin-top: 3rem;
}



.exam .box1
{
    position: absolute;
    width: 290px;
    height: 400px;
    display: flex;
    justify-content: center;
    background: rgba(255,0,0,0.8);
    border-radius: 10px;
    margin-top: 8.5rem;
    box-shadow: 8px 8px 16px rgba(0,0,0,0.2);
}



.exam .box1 h1
{
    position: absolute;
    font-size: 1.5em;
    color: #fff;
    margin-top: 0.8rem;
    border-bottom: 1.5px solid #fff;
    padding: 4px;
}



.exam .box1 p
{
    position: absolute;
    font-size: 0.9em;
    color: rgba(255,255,255,0.7);
    margin-top: 4.3rem;
    left: 6%;
}



.exam .box1 p spanC 
{
    font-size: 1.2em;
    color: #fff;
}




.exam .box1 h3 
{
    position: absolute;
    font-size: 6em;
    color: rgba(255,255,255,0.8);
    margin-top: 17rem;
}




.exam h4
{
    position: absolute;
    font-size: 1.1em;
    color: #444;
    margin-top: 37rem;
    border-left: 2px solid #444;
    border-right: 2px solid #444;
    padding: 4px;
}



.exam img 
{
    position: absolute;
    width: 100px;
    margin-top: 39rem;
}




.exam h5
{
    position: absolute;
    font-size: 0.8em;
    color: #444;
    margin-top: 48.5rem;
}






/********Main********/


.main 
{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    background: #f00;
}



.main h1
{
    position: absolute;
    font-size: 1.3em;
    color: #fff;
    margin-top: 17rem;
}




.main p
{
    position: absolute;
    font-size: 1em;
    color: #fff;
    margin-top: 20rem;
    animation: changeMotion linear 2s infinite alternate;
}



@keyframes changeMotion
{
    0%
    {
        color: rgba(255,255,255,0.8);
    }
    50%
    {
        color: rgba(0,0,0,0.0);
    }
    100%
    {
        color: rgba(255,255,255,0.8);
    }
}




.main a 
{
    position: absolute;
    padding: 13px 45px;
    font-size: 1.1em;
    background: #fff;
    color: #f00;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 23rem;
}








}